p.small.text-muted {
    display: none;
}

.pagination-wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: max-content;
    opacity: 0.20;
    transition: opacity 0.5s linear;
}

.pagination-wrapper:hover {
    opacity: 1;
}
